<input type='text' value="{{card.title}}"></input>
<h2>in list <span class="highlight">{{list_name}}</span></h2>
<div class='cardInfo'>
  <textarea readonly>{{card.desc}}</textarea>
</div>
<div class="alignRight">
  <a class="editCardButton" href="#">Edit</a>
  <a class="deleteCardButton" href="#">Delete</a>
  <a class="saveButton" href="#">Save</a>
  <a class="cancelButton" href="#">Cancel</a>
</div>
<i class="fa fa-times fa-lg" aria-hidden="true"></i>
